/* 
@media only screen and (max-width:769px){body{background-color:pink;}} 
@media only screen and (min-width:769px){body{background-color:blue;}}
*/

/********************************************************************************************************************************/
/* GENERAL */
/********************************************************************************************************************************/

/********************************************************************************************************************************/
/* MOBILE */
/********************************************************************************************************************************/
@media only screen and (max-width:769px){
    /********************************************************************************************************************************/
    /* HIDE */
    /********************************************************************************************************************************/
        .desktop {display: none;}
    /********************************************************************************************************************************/
    /* STRUCTURE */
    /********************************************************************************************************************************/

    /********************************************************************************************************************************/
    /* NAVBAR */
    /********************************************************************************************************************************/
}

/********************************************************************************************************************************/
/* DESKTOP */
/********************************************************************************************************************************/
@media only screen and (min-width:769px){
    /********************************************************************************************************************************/
    /* HIDE */
    /********************************************************************************************************************************/
        .mobile {display: none;}

}
