/* TOP NAV */
.hamburger {
    width: 2rem;
    padding: 1rem;
    background-color: white;
}

.topbar {
    position: sticky;
    top: 0;
    display: grid;
    justify-content: right;
    cursor: pointer;
    z-index: 1;
    transform:translate3d(0,0,0);
}

/* TOP LOGO */
.top-logo img {
    z-index: 2;
    transform:translate3d(0,0,0);
}
.top-logo {
    display: grid;
    justify-content: center;
    padding: 0 3rem 3rem 3rem;
    max-width: 25rem;
    margin: auto;
}

/********************************************************************************************************************************/
/* GENERAL */
/********************************************************************************************************************************/

body {
    margin: 0;
}

p {
    font-family: 'Courier New', Courier, monospace;
}

img {
    width: 100%;
}
